@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffffd0;
  --foreground: #000080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffffdo;
    --foreground: #000080;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  @apply sticky left-0 top-0 flex h-screen w-fit flex-col justify-between border border-gray-200 bg-zinc-100 pt-10
   max-md:hidden sm:p-10 xl:p-10 2xl:w-[355px];
}
